In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("./CSV/salaries.csv")
# df.isnull().info()
# df.head()
# df.describe()
# df.shape
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [2]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [3]:
ar_company = le.fit_transform(df.company)
ar_job = le.fit_transform(df.job)
ar_degree = le.fit_transform(df.degree)

In [4]:
df = df.drop(['company','job','degree'],axis=1)
dfs_company = pd.Series(ar_company,name="company1")
dfs_job = pd.Series(ar_job,name="job2")
dfs_degree = pd.Series(ar_degree,name="degree2")

In [5]:
df=pd.concat([df,dfs_company,dfs_job,dfs_degree],axis=1)
df.head()

   salary_more_then_100k  company1  job2  degree2
0                      0         2     2        0
1                      0         2     2        1
2                      1         2     0        0
3                      1         2     0        1
4                      0         2     1        0

In [6]:
y=df.salary_more_then_100k
x=df.drop(['salary_more_then_100k'],axis=1)
print(x)
print(y)

    company1  job2  degree2
0          2     2        0
1          2     2        1
2          2     0        0
3          2     0        1
4          2     1        0
5          2     1        1
6          0     2        1
7          0     1        0
8          0     0        0
9          0     0        1
10         1     2        0
11         1     2        1
12         1     0        0
13         1     0        1
14         1     1        0
15         1     1        1
0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [8]:
from sklearn import tree 
model = tree.DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [9]:
y_predict = model.predict(x_test)
y_predict

array([0, 0, 0, 0], dtype=int64)

In [10]:
print(y_test)

1     0
2     1
7     0
11    1
Name: salary_more_then_100k, dtype: int64

In [11]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_predict))

[[2 0]
 [2 0]]

In [12]:
model.score(x_test,y_test)

0.5

In [13]:
from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier(n_estimators=7)
model2.fit(x_train,y_train)

RandomForestClassifier(n_estimators=7)

In [14]:
model2.score(x_test,y_test)

0.75

In [17]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=7)

In [18]:
knn.score(x_test,y_test)

0.5