In [15]:
# import pandas as pd
# df = pd.read_csv("./CSV/HousePrice.csv",)
# print(df)
# df.isnull()
# df.info()
# df.isnull().sum()
# df1 = df.dropn()
# area_var = df['area']
# df2 = area_var.fillna(method='ffill')
# df2 = area_var.fillna(method='bfill')
# print(df2)

     area     price
0  2600.0  550000.0
1  3000.0  565000.0
2  3200.0       NaN
3     NaN  680000.0
4  4000.0  725000.0
0    2600.0
1    3000.0
2    3200.0
3    4000.0
4    4000.0
Name: area, dtype: float64

In [17]:
# import pandas as pd
# df = pd.DataFrame(['apple','apple','mango','orange','orange','mango'],columns=['fruits'])
# df2 = pd.get_dummies(df.fruits)
# df2

   apple  mango  orange
0      1      0       0
1      1      0       0
2      0      1       0
3      0      0       1
4      0      0       1
5      0      1       0

In [ ]:
# df3=pd.concat([df,df2],axis=1)
# df3

df3=pd.concate([df,df2],axis=1)
df3

In [30]:
import pandas as pd
df = pd.read_csv("./CSV/HousePrice.csv",)
# print(df)
# df2 = df.drop_duplicates()
# df2

# df1 = df.area.unique()
# df1